<h1>Jonathan Bouchet</h1>
<p>Physicist, Data scientist, runner, Unity3D developper</p>
<button><a href="https://sites.google.com/site/jonathanbouchet0928/others">personal projects</a></button> 
<button><a href="https://github.com/jonathanbouchet">GitHub</a></button> 
<button><a href="https://www.linkedin.com/in/jonathanbouchet">Linkedin</a></button> 
<button><a href="https://www.kaggle.com/jonathanbouchet">Kaggle</a></button> 
<hr>
<button><a href="/">home</a></button>